[submodule "submodules/reasoner-validator"]
	path = submodules/reasoner-validator
	url = git@github.com:di2ag/reasoner-validator.git
[submodule "submodules/biolink-model-toolkit"]
	path = submodules/biolink-model-toolkit
	url = git@github.com:biolink/biolink-model-toolkit.git
[submodule "submodules/ncats_testing"]
	path = submodules/ncats_testing
	url = git@github.com:NCATSTranslator/testing.git
